.Login-cnt{
    display: flex;
    justify-content: center;
}
.Login-card{
    margin-top: 13%;
    width: 25vw;
}

.slider-card{
    margin-top: 13%;
    width: 12.25vw;
    margin-right: 1rem;
}

Alert{
    font-size: 1rem;
}



